<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>


<div><h1> Clusteringtool für die Stadt Leipzig  </h1>   </div>

<script>
    type="text/javascript" <!--Eric: shows that you want to use javascript -->
    src="{{ url_for('static', filename='index.js')}}" <!--Eric: refering to the file I want to use -->
</script>


</body>
</html>

